# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the Go coverage tool
coverage.out

# Go build cache
/bin/
/pkg/

# Editor files
.vscode/
.DS_Store
